<h1>Welcome to {{ hotelName }}</h1>

<!-- !Property data binding -->
<div [hidden]="hideRooms">
  <div [innerText]="newRoomName"></div>
</div>
<button (click)="toggle()" class="button">Toggle</button>

<!-- !Directives: 1] Directives are used to manipulate appearance and behavior of the DOM
            !2] Directives can not have templates
            !3] Two types of directives:
                   !i] Structural directives :- Can add or remove elements from DOM.Can change the appearance of the DOM
                  !ii] Attribute directives :- Cannot add or remove elements from DOM.Can modify the DOM -->

<!-- !Built-in directives -->
<!-- *ngIf -->
<!-- !NOT RECOMMENDED -->

<!--* @if is a new template syntax for conditionally rendering elements in Angular templates. It's a built-in control flow syntax that allows you to conditionally show or hide page elements depending on a logical boolean condition. -->
<div>
  Room List:
  <ul>
    <li>
      {{ room.totalRoom }}
    </li>
    @if (room.availableRoom > 0) {
    <li>
      {{ room.availableRoom }}
    </li>
    } @if (room.bookedRoom > 0) {

    <li>
      {{ room.bookedRoom }}
    </li>
    }
  </ul>
  <button (click)="bookRooms()">Book rooms</button>
  <button (click)="unBookRooms()">UnBook rooms</button>

  <!--* The @for template syntax is to Angular what the traditional for...loop is to JavaScript. -->

  
  <app-room-list [rooms]="roomList"></app-room-list>
  

  <!--* The @switch syntax is for Angular what the switch statement is for Javascript.The @switch template syntax is used to select the right template section to render based on the value of an expression.Typically you want to use @switch when you have at least 2 or more different options to display, depending on the value of the expression -->
  <div>
    <label for="rooms">Select a room:</label>
    <select name="rooms" id="rooms" (change)="onSelect($event)">
      <option value="Default">No room selected</option>
      <option value="Normal room">Normal room</option>
      <option value="AC room">AC room</option>
      <option value="Deluxe room">Deluxe room</option>
    </select>
    
    <h3>Selected Room: {{ selectedRoom }}</h3>


    
    @switch (selectedRoom) { @case ('Normal room') {
    <h4>Room Amenities: TV, Bathroom,Kitchen,Free Wi-Fi</h4>
    } @case ('AC room') {
    <h4>Room Amenities:Air conditioner, TV, Bathroom,Kitchen,Free Wi-Fi</h4>
    } @case ('Deluxe room') {
    <h4>
      Room Amenities:Air conditioner, TV, Bathroom,Kitchen,Free Wi-Fi,2
      Beds,Pools
    </h4>
    } @default {
    <h4>Select a room to see it's Amenities</h4>
    } }
  </div>

  <!--! Pipes:  -->
  <!--! 1] Pipes are used for data transformation -->
  <!--! 2] Pipes don't change the actual object -->
  <!--! 3] Pipes just change the data in the user interface rather than changing whole original data -->


</div>
